*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
main{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
h1{
    color: #1877f2;
    margin-left:100px; 
    
}
p{
    margin-left:100px; 
    font-size: 13px; 
    font-weight: 600;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.stcontainer{
    width:50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    
    
}

.ndcontainer{
width: 50%;
margin-top: 100px;


}
.card{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width:300px ;
    height:300px;
    gap:10px;
    
}
button{
    width:166px;
    background-color: blue;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
}

.btn{
    background-color: greenyellow;
    font-size: small;
    padding: 10px 10px 10px 10px;
}
input{
    padding: 10px 10px 10px 10px;
}

